*{
	margin: 0px;
	padding: 0px;

}
/* container part */
.background{
	background: #f4ede5;
	width: 100%;
	left: 0px;
	top: 0px;
	padding: 30px ;
	box-sizing: border-box;
	overflow: hidden;



}
.main_container{
	background:white ;
    padding-top: 30px;
    padding-right: 99px;
    padding-left: 99px;
    box-sizing: border-box;


}

/*nav bar*/

.nav_bar{
	display: flex;
	height: 50px;
	margin-bottom: 52px;
	font-weight:300;
	font-family: "Open Sans", sans-serif;
}
.nav_bar>div:nth-child(1){
	flex: 45%;
	line-height: 40px;
}

.nav_bar>div:nth-child(2){
	flex: 10%;
}


.nav_bar>div:nth-child(3){
	flex: 45%;
	justify-content: space-between;
	line-height: 40px;

}
.nav_bar>div{
	display: flex;
}

.nav_bar>div:nth-child(1)>div:nth-child(1){
	flex: 20%;

}
.nav_bar>div:nth-child(1)>div:nth-child(2){
	flex: 80%;
	display: flex;
}
.nav_bar>div:nth-child(3)>div:nth-child(1){
	flex: 60%;
	padding-left: 40px;

}


.nav_bar>div:nth-child(3)>div:nth-child(2){

	flex: 30%;
		display: flex;
	justify-content: flex-end;
	flex: 10%;
}

.nav_bar>div:nth-child(2)>img{
	width: 100%;
}

.nav_bar>div:nth-child(1)>div:nth-child(2)>div{
	padding: 0 8px;
}


.nav_bar>div:nth-child(3)>div:nth-child(1)>span{

	padding: 0px 10px 0px 10px;
}
.lnr-magnifier{
	line-height: 40px;
}
i.fa.fa-caret-down.fa-lg {
    font-size: 16px;
}
.dorpdown{
	box-shadow: -5px 8px 20px 0px rgb(229 16 2 / 15%);
	font-weight: 400;
	white-space: nowrap;
	border-bottom:2px solid #f34949; 
	padding: 17px 0px;
	opacity: 0;
	transition: 1s;
}
.dorpdown>div{
		padding:0px 20px;
		line-height: 30px;

}
.dorpdown>div:hover{
	background: #EEE;

}
.dorpdown:hover{
	opacity: 1;
}
.display:hover+.dorpdown{
	opacity: 1;
}

/*nav  on mobile */

.nav_bar_media{
	display: flex;
	flex-direction: column;
	width: 100%;
	position: absolute;
	left: 0px;
	top: 0px;
	background: white;
	padding: 18px 90px;
	z-index: 10;
	position: fixed;
}
.nav_bar_media>div:nth-child(1){
	display: flex;
	justify-content: space-between;
}
.nav_bar_media>div:nth-child(1)>div:nth-child(1){
	flex: 20%;
}
.nav_bar_media>div:nth-child(1)>div:nth-child(2){
	flex: 80%;
	display: flex;
	justify-content: flex-end;
}
.nav_bar_media>div:nth-child(1)>div:nth-child(1)>img{
	width: 100%;
	height: 50px;
}
.dorpdown_media{
	display: flex;
	flex-direction: column;
}

.padding{
	padding: 8px 0px;
	cursor: pointer;
	font-weight:300;
	font-family: "Open Sans", sans-serif;
}
.dispaly_none{
	display: none;
}
.dispaly_block{
	display:block;
	box-shadow: none;
	opacity: 1;
}

.displaynon{
	display: none;
	background-color: ;
}

/*secound part*/
.secound_part{
	display: flex;
}
.hover:hover{
	color:  #f34949;
	cursor: pointer;
}



.secound_part_1{
	flex: 50%;
	padding-top: 50px;
}
.sector_1{
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 300;
	line-height: 67px;
	font-size: 56px; 
	padding-bottom: 72px;
}
.botton{
	display: inline-block;
	width: 150px;
	height: 40px;
	background: #f34949;
	border-radius: 100px;
	padding: 5px;
	font-weight: 600;
	transition: all 0.5s ease;
	color: white;
	text-align: center;
	line-height: 29px;
	box-shadow: -5px 8px 20px 0px rgba(229, 16, 2, 0.15);
}
.botton:hover{
	background: #e22104;
}
.play_video{
	display: inline-block;
	padding-left: 21px ;

}
.play_video:hover{
	color:#e22104 ;
}
.play_video_txt{
	font-weight: 600;
	size: 14px;
	line-height: 21px;
	padding-left: 8px;
}

.play_video_icon{
	position: relative;
	top: 8px;
	font-size: 30px;
}

.sector_3{
	display: flex;
	padding-top: 60px;

}
.sector_3 >div:nth-child(2) {
	border-right: 1px solid #dee2e6;
}

.sector_3 >div:nth-child(1) {
	border-right: 1px solid #dee2e6;
}
.sector_3 >div{
	padding:0 20px ;
}


.sector_3 span{
	font-size: 35px;
	position: relative;
	left: 30px;

}
h5{
	font-family: 'Josefin Sans', sans-serif;
	line-height: 24px;
	font-size: 20px;
}

/*secound part_2*/
.secound_part_2{
	flex: 50%;
	overflow: hidden;/*****************very important  */
	height: calc(663px - 124px - 30px);
	position: relative;

}
.carosal{
	margin: auto;
}
.carosal img{
	height: calc(663px - 124px - 30px);
	width:30%;

}
.Arows{
	height: 109px;
	width:220px ;
	display: flex;
	position: absolute;
	right: 0;
	bottom: 0;
	background: white;
}
.Arows span{
	height: 109px;
	width: 110px;
	text-align: center;
	line-height: 109px;
	cursor: pointer;

}
.Arows span:nth-child(1){
	border-right: 1px solid #f7f8f9;
}

.animate__animated{
	animation-duration: 5s;
}

/*start  third part*/
.third_part{
	display: flex;
	height:auto;
	padding: 130px 0px;



}
.third_part_1{
	flex: 20%;

}

.third_part_2{
	flex: 50%;
		margin-left: 50px;

}

.third_part_1_img{
	width: 100%;
	background: black;
	height: 400px;

}
.third_part_1_img img{
	width: 100%;
	height: 651px;
	box-shadow: 5px 10px 20px 5px rgba(230,230,230,230);

}
.third_part_2{
	padding-top: 50px;
}
.about {
	color: #f34949;
	font-family: "Open Sans", sans-serif;
}

.wlcom{
	font-family: "Josefin Sans", sans-serif;
	font-weight:700;
	font-size: 32px;
	line-height:38px;
	padding-bottom: 50px;
}
.wlcom+div{
	font-family: "Open Sans", sans-serif;
	font-weight: 300;
	font-size:16px;
	Line-Height: 24px;
	padding-bottom: 30px;
}
.Recipe_head{
	font-family: "Josefin Sans", sans-serif;
	font-weight: 400;
	font-size: 28px;
	Line-Height: 34px;
	padding-bottom: 10px;

}

.Recipe_content{
	display: flex;
}
.Recipe_content>div{
	padding-right: 18px;
	flex: 33.33%;
}
#Recipe_content_bg{
	 height:164px;
	 margin-bottom: 10px;


}

#Recipe_content_bg img{
width: 100%;
height: 100%;
}
#Recipe_content_bg~div{
	font-family: "Josefin Sans", sans-serif;
	font-weight: 400;
	font-size: 16px;
	Line-Height: 19px;
	color:#e22104 ;

}
/*forth part*/
.forth_part{
	padding:0 90px;
	background: #f7f8f9;
	padding-bottom: 50px;
	z-index: 10;
}
.forth_part_1{
	margin-top: 140px;
	margin: auto;
	width: 500px;
}
.forth_part_1 p{
	font-family:"Open Sans", sans-serif;
	font-weight: 300;
	font-size: 16px;
	Line-Height: 24px;
	color:#f34949 ;
	padding-top: 60px;
	text-align: center;
}
.forth_part_1 div{
	font-family:"Josefin Sans", sans-serif;
	font-weight: 700;
	font-size: 32px;
	Line-Height: 38px;
	text-align: center;
	position: relative;
	top: -20px;
	padding-bottom: 60px;
}
.forth_part_2{
	display: flex;
	padding-bottom: 60px;
}

.forth_part_2_1{
	flex: 2;
	position: relative;
	padding-top: 100px;
	padding-bottom: 60px;
} 
.space{
	flex: 1;

}
.forth_part_2_1_copy{
	order: 3;
	flex: 2;
	padding-bottom: 60px;
} 
.space_copy{
	order: 2;
	flex: 1;
}


.forth_part_2_1 div{
	font-family:"Josefin Sans", sans-serif;
	font-weight: 700;
	font-size: 60px;
	Line-Height: 72px;

}
.forth_part_2_1 div:nth-child(1)::after{
	content: " ";
	position: absolute;
	width: 200px;
	height: 1px;
	transform: translateY(30px);
	margin-left: 30px;
	border-bottom: 2px solid #000;
}
.forth_part_2_2{
	flex: 2;
}
 .forth_part_2_2_copy{
 	flex: 2;
 	order: 1;

} 
.forth_part_2_1 div:nth-child(2){
	font-family:"Josefin Sans", sans-serif;
	font-weight: 400;
	font-size: 28px;
	Line-Height: 34px;
	color: #f34949;
	margin-left: 99px;
}
.forth_part_2_1 div:nth-child(3){
	font-family:"Josefin Sans", sans-serif;
	font-weight: 400;
	font-size: 28px;
	Line-Height: 34px;
	margin-left: 99px;
	padding-bottom: 44px;

}

.forth_part_2_1 div:nth-child(4){
	font-family:"Open Sans", sans-serif;
	font-weight: 300;
	font-size: 16px;
	Line-Height: 24px;
	margin-left: 99px;
	padding-bottom: 10px;
}
.forth_part_2_1 div:nth-child(5){
	font-family:"Josefin Sans", sans-serif;
	font-weight: 400;
	font-size: 28px;
	Line-Height: 34px;
	margin-left: 99px;
	padding-bottom: 30px;

}
.forth_part_2_1 div:nth-child(6){
	font-family:"Open Sans", sans-serif;
	font-weight: 300;
	font-size: 16px;
	Line-Height: 42px;
	color: #fff;
	background: #f34949;
	text-align: center;
	border-radius: 40px;
	margin-left: 99px;
	height: 42px;
	width: 135px;
}
.forth_part_2_2 img{
	height: 100%;
	width: 100%;
	margin: auto;
	box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;

}
.forth_part_2_2_copy img{
	height: 100%;
	width: 100%;
	margin: auto;
	background: url("https://technext.github.io/resto/img/salmon-zucchini.jpg");
	box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;

}
/*fifth part*/
.fifth_part{

	padding:0 90px;
	background: #f7f8f9;
	padding-top: 20px;
	z-index: 10;
	padding-bottom: 120px;

}
.fifth_part_2_2{
	background: #000;
	height: 555px;
	width: 445px;
	margin: auto;
	background: url("https://technext.github.io/resto/img/salmon-zucchini.jpg");
	background-size:cover;
}

/*sixth part*/
.sixth_part{
	padding-top: 100px;
	padding-bottom:145px ;

}

.sixth_part>div:nth-child(1){

	font-family:"Open Sans", sans-serif;
	font-weight: 300;
	font-size: 16px;
	Line-Height: 24px;
	color: #f34949;
	text-align: center;


}
.sixth_part>div:nth-child(2){
	font-family:"Josefin Sans", sans-serif;
	font-weight: 700;
	font-size: 32px;
	Line-Height: 38px;
	text-align: center;
}
.sixth_part_2{
	padding-top: 100px;
	display: flex;

}
.section_1{
	display: flex;
	border-bottom: 1px dashed #cccccc;
	margin: 15px;
	flex-wrap: wrap;
	padding-bottom: 15px;
}
.section_1_img img{
	width: 100%;
	border-radius: 50%;
	object-fit: cover;
	transform: scale(1,1);
	transition: 0.5s; /* Animation */


}
.section_1_img{
	width: 80px;
	height: 80px;
	border-radius: 50%;
	overflow: hidden;
}

.section_1_img img:hover{
	transform: scale(1.1,1.1);
}

.section_1_num{
	padding: 0px;
	font-family: "Josefin Sans", sans-serif;
	font-weight: 300;
	font-size: 24px;
	Line-Height: 29px;
	color: rgb(108, 117, 125);
	flex-grow: 1;
	text-align: right;

}

.section_1_txt>div:nth-child(1) {
	font-family:"Josefin Sans", sans-serif;
	font-weight: 300;
	font-size: 24px;
	Line-Height: 29px;
}
.section_1_txt>div:nth-child(2) {
	font-family:"Open Sans", sans-serif;
	font-weight: 300;
	font-size: 16px;
	Line-Height: 24px;
}
.section_1_txt{
	padding: 0 20px;
}
.section_1_head{
	flex-basis: 100%;
	font-family: "Josefin Sans", sans-serif;
	font-weight: 400;
	font-size: 28px;
	Line-Height: 34px;
	padding-bottom: 60px;
	text-align: center;
	margin-top: 100px;

}

/*seventh part*/
.seventh_part{
	background: url("https://technext.github.io/resto/img/testi-bg.jpg");
	background-size:100% 100%;
	width: 100%;
	height: calc(663px);
	backface-visibility: ;
	color: white;	
	overflow: hidden;

}
.slick-dots li button:before{
	width: 10px;
	height: 10px;
	background: #9d9588;
	content: "";
	border-radius: 50%;
	position: absolute;
	transform: translateY(-20px);
	opacity: 1;

	}

	.slick-dots li{
    margin: 0 2px;

}

.slick-dots li.slick-active button:before{
	background: rgb(255,255,255,0.01);
	border: 2px solid white;
	width: 15px;
	height: 15px;
	position: absolute;
	top: -2px;
	opacity: 1;

}
.seventh_part_container{

}
.seventh_part_background>div:nth-child(1){
	text-align: center;
	font-family:"Open Sans", sans-serif;
	font-weight: 300;
	font-size: 16px;
	Line-Height: 24px;
	color: #f34949;	
	padding-top: 90px;

}
.seventh_part_background>div:nth-child(2){
	text-align: center;
	font-family:"Josefin Sans", sans-serif;
	font-weight: 700;
	font-size: 32px;
	Line-Height: 38px;
}
.seventh_part_container i{
font-size: 48px;
}

.seventh_part_1,.seventh_part_2{
	text-align: center;
	padding-top: 60px;

}
.seventh_part_2{
}
.seventh_part_background{
	background: rgba(0,0,1,0.2);
	height:663px ;
}
.seventh_part_txt{
	text-align: center;
	padding-top: 30px;
	font-family:"Open Sans", sans-serif;
	font-weight: 300;
	font-size: 32px;
	Line-Height: 51px;
	font-style: italic;

}
.Mary_Jane{
	text-align: center;
	padding-top: 30px;
	font-family:"Open Sans", sans-serif;
	font-weight: 500;
	font-size: 16px;
	Line-Height: 24px;
}
.CTO{
	text-align: center;
	padding-top: 30px;
	font-family:"Open Sans", sans-serif;
	font-weight: 300;
	font-size: 16px;
	Line-Height: 24px;
	padding-bottom:30px;

}
.CTO span{
	color: #f34949;
	font-weight: 900;
	font-family:"Open Sans", sans-serif;
	text-align: center;
	font-size: 16px;
	Line-Height: 24px;


}


/*eight part*/
.eight_part{
	padding-top: 136px;
	background: white;
	padding-bottom: 175px;

}
.eight_part >p{
	color: #f34949;
	font-family:"Open Sans", sans-serif;
	font-size:16px;
	line-height:24px;
	font-weight:300;
	margin-bottom: 0px;
	text-align: center;

}
.eight_part >h2{
	font-family :"Josefin Sans", sans-serif	;
	font-size:32px;
	line-height:38.5px;
	font-weight:700;
	text-align: center;

}


.ceifs{
	display: flex;
	width: 90%;
	margin: auto;
}
.cheif_main_container{
	display: flex;
	justify-content: center;
}
.ceifs>div{
	flex: 1;
	margin-right: 30px;
	position: relative;
}
.ceifs>div:nth-child(3){
	margin-right: 0px;
}
.ceifs>div>img{
	width: 100%;
	height: 520px;
}

.ceif_info{
	width: 90%;
	background: white;
	bottom: 15px;
	text-align: center;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	padding: 10px;
	height: 75px;
	overflow: hidden;
	transition: 0.5s ;
	transition-timing-function: ease-out;

}
.cheif_name{
	font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
}
.ceif_position{
	font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    margin: 0;

}
.cheif_social i{
	padding:10px ;
	color: #f34949;
	opacity: 0;
	transition: 1s;

}

.cheif_1:hover .ceif_info{
	height: 115px;
} 

.cheif_1:hover .cheif_social i{
	opacity: 1;
} 




/*ninth part */

.ninth_part>img{
	width: 100%;
	height: 643px;
	object-fit: cover;
}
.ninth_part{
	position: relative;
	padding-bottom: 200px;
	background: white;
}
.regester_form{
	width:444px ;
	background:#fff ;
	padding: 45px;
	box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
	height: auto;
	position: absolute;
	top: 140px;
	left: 90px;
	min-height: 580px;
}
.mb-3>div{
	text-align: center !important;
}
.regester_lable{
	color: #f34949;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 300;
    margin-bottom: 0px;
    text-align: center;
}
.mb-3>div:nth-child(2){
	font-family: "Josefin Sans", sans-serif;
    font-size: 32px;
    line-height: 38.5px;
    font-weight: 700;
    text-align: center;
    color: #000;
}
.datetimepicker{
	display: flex;
	justify-content: space-between;
}

.input-group-text {
    padding: 10px;
    border-radius: 0px 5px 5px 0px;
}
.container{
}

@media (min-width: 576px){
.col-sm-6 {
    flex: 0 0 auto;
    width: 100%;
 }
}

.col-6-1{
		padding-left:0 ;


}
.col-6-2{
		padding-right:0 ;

}

.margin_bottom_20px{
	margin-bottom: 20px;
}

/*start footer*/
.footer{
	background: white ;
	padding: 0 90px 0 90px;
}
.footer_container{
	display: flex;
	width: 100%;
}
.footer_container>div:nth-child(1){
	flex: 33.3%;
	padding-right: 48px;
}

.footer_container>div:nth-child(2){
	flex: 33.3%;
	padding-right: 48px;
	padding-left: 48px;
}

.footer_container>div:nth-child(3){
	flex: 33.3%;
	padding-right: 48px;
	padding-left: 48px;
}
.footer_container>div:nth-child(1)>img{
	height: 50px;
	margin-bottom: 16px;

}


.footer_container>div:nth-child(1)>p{
	font-family: "Open Sans", sans-serif;
	margin-bottom: 40px;
	font-weight:300;
}
.footer_container>div:nth-child(1)>span>i{
	margin-right: 30px;
}
.footer_container>div:nth-child(1)>span>i:hover{
	color:#e22104 ;
}
.footer_container>div:nth-child(2)>h4{
	font-family: "Josefin Sans", sans-serif;
	font-weight:400!important;
	line-height:28.8px;
	font-size:24px;

}
.footer_container>div:nth-child(2)>div{
	display: flex;
	justify-content: space-between;


}
.footer_container>div:nth-child(2)>div>div{
	font-family: "Open Sans", sans-serif;
	font-weight:300!important;
	line-height:28.8px;
	font-size:16px;

}
.footer_container>div:nth-child(3)>h4{
	font-family: "Josefin Sans", sans-serif;
	font-weight:400;
	line-height:28.8px;
	font-size:24px;

}
.footer_container>div:nth-child(3)>p{
	font-family: "Open Sans", sans-serif;
	margin-bottom: 40px;
		font-weight:300;
}
.footer_container>div:nth-child(3)>input{
	margin-bottom: 20px;

}

.footer_container>div:nth-child(3)>.btn-primary{
	border-radius: 20px;
	width: 100%;
	background-color: #f34949;
    border-color: #f34949;
    font-family: "Open Sans", sans-serif;
	font-size:14px;
    line-height:21px;
    font-weight: 600;
}

.footer_container>div:nth-child(3)>.btn-primary:hover{
	background-color: #e22104;
    border-color: #e22104 ;
}


.footer>div:nth-child(2){
	text-align: center;
	font-family: "Open Sans", sans-serif;
	font-weight:300; 
	padding-bottom: 70px;
}
.footer>div:nth-child(2)>span{
	color: #e22104;

}

/*nav bar media */
@media(max-width: 1090px){
	.nav_bar{
		display: none;
	}
		.background{
		background: white;
	}
	.main_container{
	background:white ;
}


}

@media(max-width: 680px){
	.third_part_2{
		margin-left: 25px;
	}
}
@media(min-width: 1090px){
	.nav_bar_media{
		display: none;
		visibility: none;
	}

}
@media(max-width: 1175px){
	.background{
		padding: 0;
	}

}

/*secound part media*/
@media(max-width: 1090px){
		.secound_part {
    display: flex;
    flex-direction: column;
}
.secound_part_1{
	padding-bottom: 20px;
	
}
}

/*third part*/
@media(max-width: 730px){
	.third_part_1_img img{
		height: 400px;
	}
	.third_part_1{
		flex: 20%;
	}

}
@media(max-width: 540px){
.third_part{
	flex-direction: column;
}
.third_part_2{
	margin-left: 0px;
}

}

/*forth part*/

@media(max-width: 1176px){
	.forth_part_2_1{
		padding-top: 0;
		padding-bottom: 0;
	}
}

/*footer media*/
@media(max-width: 992px){
.footer_container{
	flex-direction: column;
}
.footer_container>div>span{
	padding-bottom: 20px;

    display: inline-block;
}
.footer_container>div{
	padding-right: 0px!important;
	padding-left: 0px !important;
}

}


/*all media query*/

@media(max-width: 768px){

	.main_container,.forth_part{
		padding-left: 20px;
		padding-right: 20px;
	}

	.forth_part_2_2 img ,.forth_part_2_2_copy img{

		margin-top: 30PX;
		height: 510PX;

	}

	.forth_part_2_2_copy img{
		order: 3
	}

	.forth_part_2_1_copy{
		order: 1
	}


	.forth_part_2{
		flex-direction:column ;
	}

	.ceifs{
		flex-direction: column;

	}
	.ceifs>div>img{
		height: 670px!important;

	}

		.ceifs>div{
		margin-bottom: 20px;
		margin-right: 0px;
		width: 90%;
		margin-right: auto!important;
		margin-left: auto !important;
	}



}


@media(max-width: 992px) {
	.space ,.space_copy{
		flex: 0.2;
	}
	.sixth_part_2{
		flex-direction: column;
	}
	.ceifs>div>img{
		height: 300px;
	}

	.regester_form{
		    left: 50%;
    transform: translateX(-50%);
	}

}

@media(max-width: 1024px) {

}

@media(max-width: 1200){

}



